<div class="profile-container" aria-label="Perfil de la Veterinaria">
  <h2>Foto de perfil</h2>
  <div class="profile-picture">
    <!-- Aquí puedes mostrar la foto de perfil del usuario en un círculo -->
  </div>
  <mat-divider></mat-divider>

  <h2>Detalles de usuario</h2>
  <h3>Nombre de la veterinaria</h3>
  <table class="example-full-width" [cellSpacing]="10">
    <tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput aria-label="Nombre de la veterinaria">
      </mat-form-field></td>
    </tr>
  </table>

  <h3>Teléfono</h3>
  <form class="example-form">
    <mat-form-field class="example-full-width" style="margin-top: 10px;">
      <mat-label>Teléfono</mat-label>
      <span matTextPrefix>+51 &nbsp;</span>
      <input type="tel" matInput placeholder="912-345-678" aria-label="Teléfono">
      <mat-icon matSuffix aria-hidden="true">mode_edit</mat-icon>
    </mat-form-field>
  </form>


  <h3>Correo electrónico</h3>
  <form class="example-form">
    <mat-form-field class="example-full-width" style="margin-bottom: 20px;">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. pat@example.com" aria-label="Correo electrónico">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Por favor, introduce una dirección de correo electrónico válida
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        El correo electrónico es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <div class="save-button-container">
    <button mat-raised-button color="accent" aria-label="Guardar cambios">Guardar</button>
  </div>
</div>
