.cards {
  padding: 100px 10px 0 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

mat-card {
  background-color: #E0FBFC;
  width: 100%;
  max-width: 400px;
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
  width: 100%;
}

button {
  color: white !important;
  flex: auto;
  padding: 10px 30px;
  background-color: #3B9C9C !important;
}

mat-card-subtitle {
  color: gray;
}

mat-card-actions {
  gap: 10px;
  padding-top: 15px;
}

/* Media Queries */
@media (min-width: 600px) {
  .cards {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 900px) {
  .cards {
    justify-content: space-between;
  }

  .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }

  mat-card {
    width: calc(50% - 20px);
  }
}

@media (min-width: 1200px) {
  mat-card {
    width: calc(33.33% - 20px);
  }
}
