<!-- register-view.component.html -->

<div class="container">
  <div class="registration-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="reg-form">
      <h1>Regístrate</h1>
      <table class="field-full-width">
        <tr>
          <td>
            <mat-form-field class="field-full-width transparent-background">
              <mat-label>Nombres</mat-label>
              <input matInput formControlName="firstName">
              <mat-error *ngIf="form.get('firstName')?.invalid && (form.get('firstName')?.dirty || form.get('firstName')?.touched)">
                Nombres son requeridos.
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="field-full-width transparent-background">
              <mat-label>Apellidos</mat-label>
              <input matInput formControlName="lastName">
              <mat-error *ngIf="form.get('lastName')?.invalid && (form.get('lastName')?.dirty || form.get('lastName')?.touched)">
                Apellidos son requeridos.
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-form-field class="field-full-width transparent-background">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="email" placeholder="Ejemplo@example.com">
        <mat-error *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
          Correo electrónico es requerido y debe ser válido.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="field-full-width transparent-background">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
          La contraseña es requerida y debe tener al menos 6 caracteres.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="field-full-width transparent-background">
        <mat-label>Confirmar Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('confirmPassword')?.invalid && (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)">
          Confirmación de contraseña es requerida y debe coincidir con la contraseña.
        </mat-error>
        <mat-error *ngIf="form.hasError('mismatch') && (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)">
          Las contraseñas no coinciden.
        </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="terms" class="example-margin">
        Acepto los términos y condiciones
      </mat-checkbox>

      <mat-slide-toggle formControlName="isVeterinarian" class="slide-toggle black-text">
        ¿Es una cuenta de veterinario?
      </mat-slide-toggle>

      <div class="register-button-container">
        <button mat-flat-button class="full-width-button" color="accent" type="submit">Regístrate</button>
        <p class="redirect-label"><a routerLink="/login">¿Ya tienes una cuenta?</a></p>
      </div>
    </form>
  </div>

  <div class="registration-image">
    <img src="assets/login-register-dog.jpg" alt="Imagen de perro en la página de inicio de sesión y registro">
  </div>
</div>
