.container {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  flex-wrap: wrap;
}

.registration-form {
  flex: 1;
  padding: 20px;
  max-width: 600px; /* Limit the form width */
}

.registration-image {
  width: 40%;
  height: 100vh;
  background-color: #f0f0f0;
}

.mat-form-field label {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 4px;
}

.mat-form-field .mat-label {
  position: relative;
  top: -50%;
  transform: translateY(-50%);
}

.registration-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.checkbox-margin {
  padding-right: 20px;
}

.slide-toggle {
  padding-right: 20px;
}

h1 {
  font-size: xxx-large;
  color: #3B9C9C;
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 25px;
}

.field-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

p {
  padding-right: 10px;
  color: black;
}

.transparent-background {
  background-color: transparent !important;
}

.full-width-button {
  background-color: #3B9C9C;
  width: 100%;
  height: 50px;
}

.checkbox-text {
  color: black !important;
}

p {
  color: black;
}

/* Media Queries for Responsive Design */
@media (max-width: 1024px) {
  .registration-image {
    display: none;
  }

  .registration-form {
    width: 100%;
    max-width: none; /* Remove the maximum width */
  }
}

@media (max-width: 768px) {
  .container {
    align-items: flex-start; /* Center content horizontally */
  }

  .registration-form {
    width: 100%;
    text-align: center; /* Center form content */
  }

  h1 {
    text-align: center;
    font-size: xx-large;
    padding-top: 30px;
  }

  .field-full-width {
    display: block;
    width: 100%;
    margin-bottom: 20px; /* Add some space between form fields */
  }

  .field-full-width input {
    width: calc(100% - 24px); /* Adjust input width to fit the container */
  }

  table {
    width: 100%;
  }
}
