<div class="card-left"> <!--*ngFor="let veterinary of veterinaries-->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Nombre</mat-card-title>
      <mat-card-subtitle>Servicio</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Motivo de cita</p>
      <p>Fecha</p>
      <p>Teléfono</p>
      <p>Detalles adicionales</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button routerLink="/billing">Aceptar</button>
      <button mat-raised-button routerLink="/billing">Reprogramar</button>
    </mat-card-actions>
  </mat-card>
</div>
