<div class="cards-container" role="list" aria-label="Veterinary Appointment Cards">
<div class="cards" *ngFor="let appointment of appointmentvet" role="listitem">
    <mat-card role="region">
      <mat-card-header>
        <mat-card-title>Nombre: {{appointment.nombreDueno}}</mat-card-title>
        <mat-card-subtitle>Servicio: {{appointment.tipoServicio}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Motivo de cita: {{appointment.motivoCita}}</p>
        <p>Fecha: {{appointment.fechaReserva}}</p>
        <p>Teléfono: {{appointment.telefono}}</p>
        <p>Detalles adicionales: {{appointment.detallesAdicionales}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button routerLink="/billing">Aceptar</button>
        <button mat-raised-button routerLink="/billing">Reprogramar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
