<mat-toolbar class="product-toolbar" aria-label="Product Toolbar">
  <div class="toolbar-content">
    <app-products-search-bar (searchChange)="filterProducts($event)" aria-label="Product Search Bar"></app-products-search-bar>
    <app-filter-menu class="filter-menu" (categoryChange)="filterByCategory($event)" aria-label="Filter Menu"></app-filter-menu>
  </div>
</mat-toolbar>

<div class="cards-container" role="list" aria-label="Product Cards">
  <div class="card" *ngFor="let product of filteredProducts" role="listitem">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ product.productName }}</mat-card-title>
        <mat-card-subtitle>{{ product.productCategory }}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image [src]="product.productImage" alt="{{ product.productName }}" class="product-image">

      <mat-card-content>
        <p>{{ product.productDescription }}</p>
        <p>Price: PEN{{ product.productPrice }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/billing" class="buy-button">Comprar Ahora</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
