<div class="container mat-typography">
  <div class="recovery-form">
    <form class="reg-form">
      <h1>Recuperar Contraseña</h1>
      <mat-form-field class="field-full-width">
        <mat-label>Correo Electronico</mat-label>
        <input matInput placeholder="Example@example.com">
      </mat-form-field>
      <div class="recovery-button-container">
        <button mat-flat-button color="accent" class="full-width-button">Enviar Instrucciones</button>
        <p class="redirect-label"><a routerLink="/login">Volver al inicio de sesión</a></p>
      </div>
    </form>
  </div>
  <div class="recovery-image">
    <img src="assets/login-register-dog.jpg" alt="recovery-dog-image">
  </div>
</div>


